.one{
    color: #0b83f1;
    font-size: 200px;
}
.two{
    color: #fa3219;
    font-size: 200px;
}
.three{
    color: #fcb802;
    font-size: 200px;
}
span{
    color: #34a753;
    font-size: 200px;
}